.header {
	background-color: #222222;
	
	// .header__logo
	&__logo {
		margin-right: 10px;
		@media(min-width: 768px) {
			margin-right: 41px;
		}
	}

	// .header__login
	&__login {
		margin-left: 25px;
	}
	
	
	// .header__cart
	&__cart {
		position: relative;
		margin-left: 12px;
		@media (min-width: 768px) {
			margin-left: 42px;
		}
		span {
			content: "";
			position: absolute;
			top: -5px;
			left: 22px;
			line-height: 18px;
			font-size: 12px;
			text-align: center;
			color: #fff;
			border-radius: 50%;
			width: 19px;
			height: 19px;
			background-color: #F16D7F;
		}
	}

	&__login
	// &__cart
	 {
		display: none;
		@media (min-width: 768px) {
			display: block;
		}
	}
}


// cart
.cart-block{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
	border-radius: 5px;
	box-sizing: border-box;
	right: -8px;
	top: 130%;
	position: absolute;
	background-color: white;
	padding: 20px;
	color: black;
	width: 250px;
	z-index: 25;
}

.invisible{
	display: none;
}
.cart-block:before{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: -10px;
	right: 13px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}


.cart-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
	padding: 10px;
	border-radius: 4px;
	
	& + & {
		margin-top: 10px;
	}

	// .cart-item__body
	&__body {
		display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

	}
	// .cart-item__img
	&__img {
		margin-bottom: 10px;
		max-width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	
	// .cart-item__desc
	&__desc {
		margin-bottom: 10px;
	}

	
	// .cart-item__title
	&__title {
	}

	
	// .cart-item__quantity
	&__quantity {
		font-weight: 700;
	}

	
	// .cart-item__single-price
	&__single-price {
	}

	
	// .cart-item__right-block
	&__right-block {
		width: 100%;
	}

	
	// .cart-item__total-price
	&__total-price {
		text-align: left;
	}

	
	// .cart-item__del-btn
	&__del-btn {
		max-width: 100px;
		width: 100%;
	}
}


// end cart
.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	@media (min-width: 768px) {
		padding: 16px 32px;
	}
	@media (min-width: 992px) {
		padding: 16px 0;
	}
}

.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: center;
}

// .header-burger
.header-burger {
	cursor: pointer;
}