.subscribe-wrap {
	background-image: url(../images/subscribe/subscribe.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 64px;
	padding-bottom: 109px;

	@media (min-width: 768px) {
		padding-top: 64px;
		padding-bottom: 140px;
	}
	@media (min-width: 1200px) {
		padding-top: 96px;
		padding-bottom: 126px;

	}
}

.subscribe {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	
	@media (min-width: 1200px) {
		flex-direction: row;
	}
	
	// .subscribe__item
	// &__item {}

	
	// .subscribe__avatar
	&__avatar {
		max-width: 360px;
		text-align: center;
		margin-bottom: 60px;
		
		@media (min-width: 768px) {
			margin-bottom: 48px;
		}
		@media (min-width: 1200px) {
			margin-bottom: 0;
		}
	}
	
	
	// .subscribe__img
	&__img {
		display: inline-block;
		margin-bottom: 30px;
		border-radius: 50%;
		overflow: hidden;
	}

	
	// .subscribe__body
	&__body {
		text-align: center;
		color: #222224;
		font-size: 18px;
		line-height: 22px;
		
		@media (min-width: 768px) {
			font-size: 20px;
			line-height: 24px;
		}
	}

	
	// .subscribe__form
	&__form {
		max-width: 557px;
		font-family: 'Lato', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	
	// .subscribe__title
	&__title {
		font-weight: 700;
		text-align: center;
		color: #222224;
		text-transform: uppercase;
		
		font-size: 24px;
		line-height: 153.2%;

		@media (min-width: 768px) {
			font-size: 24px;
			line-height: 162%;
		}
		@media (min-width: 1200px) {
			font-size: 24px;
			line-height: 167.2%;
		}
	}
	
	// .subscribe__subtitle
	&__subtitle {
		text-transform: uppercase;
		text-align: center;
		color: #222224;
		margin-bottom: 32px;
		
		font-size: 14px;
		line-height: 153.2%;
		@media (min-width: 768px) {
			font-size: 18px;
			line-height: 162%;
		}
		@media (min-width: 1200px) {
			font-size: 18px;
			line-height: 167.2%;
		}
	}
}

.subscribe-form {

	
	// .subscribe-form__group
	&__group {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		@media (min-width: 768px) {
			width: 356px;

		}
	}
	
	
	// .subscribe-form__input
	&__input {
		display: block;
		width: 100%;
		background-color: #E1E1E1;
		border: none;
		color: rgba(34, 34, 36, 0.67);
		padding-left: 22px;
		height: 49px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		outline: none;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 17px;

		&::-webkit-input-placeholder {
			/* WebKit, Blink, Edge */
			color: rgba(34, 34, 36, 0.67);
		}

		&:-moz-placeholder {
			/* Mozilla Firefox 4 to 18 */
			color: rgba(34, 34, 36, 0.67);
			opacity: 1;
		}

		&::-moz-placeholder {
			/* Mozilla Firefox 19+ */
			color: rgba(34, 34, 36, 0.67);
			opacity: 1;
		}

		&:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			color: rgba(34, 34, 36, 0.67);
		}

		&::-ms-input-placeholder {
			/* Microsoft Edge */
			color: rgba(34, 34, 36, 0.67);
		}

		&::placeholder {
			/* Most modern browsers support this now. */
			color: rgba(34, 34, 36, 0.67);
		}
	}
	
	
	// .subscribe-form__btn
	&__btn {
		cursor: pointer;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		border: none;
		max-width: 100px;
		background-color: #F16D7F;
		height: 49px;
		padding-left: 20px;
		padding-right: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #FFFFFF;
	}
}
