.header {

		// .header__search

		&__search {
		}
}
.catalog-form {
  display: flex;
  align-items: center;
  justify-content: center;
		// .catalog-form__name

		&__name {
		}

		// .catalog-form__btn

		&__btn {
		}
}
